<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
    @Styles.Render("~/Content/css")
</head>
<body style="margin:40px">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
