body {
    padding-top: 75px;
    padding-bottom: 200px;
    padding-left: 150px;
    background-color: lightblue;
}

.body-content {
    margin-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
